# Ignore the data directory
data/
__pycache__/
lstm_toxic_cmnts/

# Ignore Logs
logs
*.log

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

#ignore pkl
*.pkl
